In [1]:
import plotly
import os
import plotly.io as pio

# In case some env var forces a Jupyter-type renderer
os.environ.pop("PLOTLY_RENDERER", None)

# Force a renderer that does NOT need nbformat
pio.renderers.default = "browser"
print(pio.renderers)  # just to verify

import plotly.graph_objects as go
import plotly.express as px
import plotly.offline as pyo
import numpy as np
import pandas as pd

Renderers configuration
-----------------------
    Default renderer: 'browser'
    Available renderers:
        ['plotly_mimetype', 'jupyterlab', 'nteract', 'vscode',
         'notebook', 'notebook_connected', 'kaggle', 'azure', 'colab',
         'cocalc', 'databricks', 'json', 'png', 'jpeg', 'jpg', 'svg',
         'pdf', 'browser', 'firefox', 'chrome', 'chromium', 'iframe',
         'iframe_connected', 'sphinx_gallery', 'sphinx_gallery_png']

In [5]:
dist = pd.read_csv(r'C:\Users\H P\Desktop\DSMP\Plotly\archive (1)\district wise centroids.csv')
print(dist.shape)
print(dist.head())

(594, 4)
                 State         District   Latitude  Longitude
0  Andaman and Nicobar  Andaman Islands  12.382571  92.822911
1  Andaman and Nicobar  Nicobar Islands   7.835291  93.511601
2       Andhra Pradesh         Adilabad  19.284514  78.813212
3       Andhra Pradesh        Anantapur  14.312066  77.460158
4       Andhra Pradesh         Chittoor  13.331093  78.927639

In [6]:
#check
print(dist.isnull().sum())
print(dist.duplicated().sum())

State        0
District     0
Latitude     0
Longitude    0
dtype: int64
0

In [8]:
props = pd.read_csv(r'C:\Users\H P\Desktop\DSMP\Plotly\archive\india-districts-census-2011.csv')
print(props.shape)
print(props.head())
print('\n')
print(props.columns)

(640, 118)
   District code         State name District name  Population    Male  Female  \
0              1  JAMMU AND KASHMIR       Kupwara      870354  474190  396164
1              2  JAMMU AND KASHMIR        Badgam      753745  398041  355704
2              3  JAMMU AND KASHMIR   Leh(Ladakh)      133487   78971   54516
3              4  JAMMU AND KASHMIR        Kargil      140802   77785   63017
4              5  JAMMU AND KASHMIR         Punch      476835  251899  224936

   Literate  Male_Literate  Female_Literate    SC  ...  \
0    439654         282823           156831  1048  ...
1    335649         207741           127908   368  ...
2     93770          62834            30936   488  ...
3     86236          56301            29935    18  ...
4    261724         163333            98391   556  ...

   Power_Parity_Rs_90000_150000  Power_Parity_Rs_45000_150000  \
0                            94                           588
1                           126                           562
2                            46                           122
3                            27                           114
4                            78                           346

   Power_Parity_Rs_150000_240000  Power_Parity_Rs_240000_330000  \
0                             71                            101
1                             72                             89
2                             15                             22
3                             12                             18
4                             35                             50

   Power_Parity_Rs_150000_330000  Power_Parity_Rs_330000_425000  \
0                            172                             74
1                            161                             96
2                             37                             20
3                             30                             19
4                             85                             59

   Power_Parity_Rs_425000_545000  Power_Parity_Rs_330000_545000  \
0                             10                             84
1                             28                            124
2                             14                             34
3                              3                             22
4                              8                             67

   Power_Parity_Above_Rs_545000  Total_Power_Parity
0                            15                1119
1                            18                1066
2                            17                 242
3                             7                 214
4                            12                 629

[5 rows x 118 columns]


Index(['District code', 'State name', 'District name', 'Population', 'Male',
       'Female', 'Literate', 'Male_Literate', 'Female_Literate', 'SC',
       ...
       'Power_Parity_Rs_90000_150000', 'Power_Parity_Rs_45000_150000',
       'Power_Parity_Rs_150000_240000', 'Power_Parity_Rs_240000_330000',
       'Power_Parity_Rs_150000_330000', 'Power_Parity_Rs_330000_425000',
       'Power_Parity_Rs_425000_545000', 'Power_Parity_Rs_330000_545000',
       'Power_Parity_Above_Rs_545000', 'Total_Power_Parity'],
      dtype='object', length=118)

In [9]:
print(props.isnull().sum())
print(props.duplicated().sum())

District code                    0
State name                       0
District name                    0
Population                       0
Male                             0
                                ..
Power_Parity_Rs_330000_425000    0
Power_Parity_Rs_425000_545000    0
Power_Parity_Rs_330000_545000    0
Power_Parity_Above_Rs_545000     0
Total_Power_Parity               0
Length: 118, dtype: int64
0

In [ ]:
print(props.columns.tolist())

['District code', 'State name', 'District name', 'Population', 'Male', 'Female', 'Literate', 'Male_Literate', 'Female_Literate', 'SC', 'Male_SC', 'Female_SC', 'ST', 'Male_ST', 'Female_ST', 'Workers', 'Male_Workers', 'Female_Workers', 'Main_Workers', 'Marginal_Workers', 'Non_Workers', 'Cultivator_Workers', 'Agricultural_Workers', 'Household_Workers', 'Other_Workers', 'Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains', 'Others_Religions', 'Religion_Not_Stated', 'LPG_or_PNG_Households', 'Housholds_with_Electric_Lighting', 'Households_with_Internet', 'Households_with_Computer', 'Rural_Households', 'Urban_Households', 'Households', 'Below_Primary_Education', 'Primary_Education', 'Middle_Education', 'Secondary_Education', 'Higher_Education', 'Graduate_Education', 'Other_Education', 'Literate_Education', 'Illiterate_Education', 'Total_Education', 'Age_Group_0_29', 'Age_Group_30_49', 'Age_Group_50', 'Age not stated', 'Households_with_Bicycle', 'Households_with_Car_Jeep_Van', 'Households_with_Radio_Transistor', 'Households_with_Scooter_Motorcycle_Moped', 'Households_with_Telephone_Mobile_Phone_Landline_only', 'Households_with_Telephone_Mobile_Phone_Mobile_only', 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car', 'Households_with_Television', 'Households_with_Telephone_Mobile_Phone', 'Households_with_Telephone_Mobile_Phone_Both', 'Condition_of_occupied_census_houses_Dilapidated_Households', 'Households_with_separate_kitchen_Cooking_inside_house', 'Having_bathing_facility_Total_Households', 'Having_latrine_facility_within_the_premises_Total_Households', 'Ownership_Owned_Households', 'Ownership_Rented_Households', 'Type_of_bathing_facility_Enclosure_without_roof_Households', 'Type_of_fuel_used_for_cooking_Any_other_Households', 'Type_of_latrine_facility_Pit_latrine_Households', 'Type_of_latrine_facility_Other_latrine_Households', 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households', 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households', 'Not_having_bathing_facility_within_the_premises_Total_Households', 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households', 'Main_source_of_drinking_water_Un_covered_well_Households', 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households', 'Main_source_of_drinking_water_Spring_Households', 'Main_source_of_drinking_water_River_Canal_Households', 'Main_source_of_drinking_water_Other_sources_Households', 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households', 'Location_of_drinking_water_source_Near_the_premises_Households', 'Location_of_drinking_water_source_Within_the_premises_Households', 'Main_source_of_drinking_water_Tank_Pond_Lake_Households', 'Main_source_of_drinking_water_Tapwater_Households', 'Main_source_of_drinking_water_Tubewell_Borehole_Households', 'Household_size_1_person_Households', 'Household_size_2_persons_Households', 'Household_size_1_to_2_persons', 'Household_size_3_persons_Households', 'Household_size_3_to_5_persons_Households', 'Household_size_4_persons_Households', 'Household_size_5_persons_Households', 'Household_size_6_8_persons_Households', 'Household_size_9_persons_and_above_Households', 'Location_of_drinking_water_source_Away_Households', 'Married_couples_1_Households', 'Married_couples_2_Households', 'Married_couples_3_Households', 'Married_couples_3_or_more_Households', 'Married_couples_4_Households', 'Married_couples_5__Households', 'Married_couples_None_Households', 'Power_Parity_Less_than_Rs_45000', 'Power_Parity_Rs_45000_90000', 'Power_Parity_Rs_90000_150000', 'Power_Parity_Rs_45000_150000', 'Power_Parity_Rs_150000_240000', 'Power_Parity_Rs_240000_330000', 'Power_Parity_Rs_150000_330000', 'Power_Parity_Rs_330000_425000', 'Power_Parity_Rs_425000_545000', 'Power_Parity_Rs_330000_545000', 'Power_Parity_Above_Rs_545000', 'Total_Power_Parity']

In [16]:
req_cols = ['District code','District name','Population','Male','Female','Literate','Households_with_Internet','Housholds_with_Electric_Lighting']
props = props[req_cols]
props.head()

,District code,District name,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting
0,1,Kupwara,870354,474190,396164,439654,762,83071
1,2,Badgam,753745,398041,355704,335649,1999,90190
2,3,Leh(Ladakh),133487,78971,54516,93770,574,17250
3,4,Kargil,140802,77785,63017,86236,235,15824
4,5,Punch,476835,251899,224936,261724,346,62900

In [21]:
df = dist.merge(props,left_on='District',right_on='District name').drop(columns=['District name'])

In [22]:
df.head()

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,5512,566108
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,8606,897970
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,13763,944555
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,22411,1297273
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,19383,1186028

In [29]:
df['sex_ratio'] = round(df['Female']/df['Male']*100,2)
df['Literatcy_rate'] = round(df['Literate']/df['Population']*100,2)
df.head()

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting,sex_ratio,Literatcy_rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,5512,566108,100.15,54.11
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,8606,897970,97.68,56.63
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,13763,944555,99.70,63.92
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,22411,1297273,100.58,63.80
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,19383,1186028,100.28,60.57

In [30]:
df.to_csv('india.csv',index=False)

In [2]:
d = pd.read_csv(r'C:\Users\H P\Desktop\DSMP\Plotly\india.csv')
d.head()

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting,sex_ratio,Literatcy_rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,5512,566108,100.15,54.11
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,8606,897970,97.68,56.63
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,13763,944555,99.70,63.92
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,22411,1297273,100.58,63.80
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,19383,1186028,100.28,60.57

In [4]:
l = d['State'].unique().tolist()
l.insert(0,'Whole India')
l

['Whole India',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Daman and Diu',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Orissa',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttaranchal',
 'West Bengal']

In [ ]:
px.scatter_mapbox(d,lat='Latitude',lon='Longitude',mapbox_style='carto-positron')

C:\Users\H P\AppData\Local\Temp\ipykernel_17476\4174474095.py:1: DeprecationWarning:

*scatter_mapbox* is deprecated! Use *scatter_map* instead. Learn more at: https://plotly.com/python/mapbox-to-maplibre/